src/ChannelAdam.Wcf.BehaviourSpecs/Service References/SampleServiceReference/SampleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SampleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55536/SampleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55536/SampleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISampleService_SampleOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:SampleOperation" />
  </wsdl:message>
  <wsdl:message name="ISampleService_SampleOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SampleOperationResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleService_AddTwoIntegers_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTwoIntegers" />
  </wsdl:message>
  <wsdl:message name="ISampleService_AddTwoIntegers_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTwoIntegersResponse" />
  </wsdl:message>
  <wsdl:portType name="ISampleService">
    <wsdl:operation name="SampleOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleService/SampleOperation" message="tns:ISampleService_SampleOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleService/SampleOperationResponse" message="tns:ISampleService_SampleOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTwoIntegers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleService/AddTwoIntegers" message="tns:ISampleService_AddTwoIntegers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleService/AddTwoIntegersResponse" message="tns:ISampleService_AddTwoIntegers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISampleService" type="tns:ISampleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SampleOperation">
      <soap:operation soapAction="http://tempuri.org/ISampleService/SampleOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTwoIntegers">
      <soap:operation soapAction="http://tempuri.org/ISampleService/AddTwoIntegers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SampleService">
    <wsdl:port name="BasicHttpBinding_ISampleService" binding="tns:BasicHttpBinding_ISampleService">
      <soap:address location="http://localhost:55536/SampleService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>