src/ChannelAdam.Wcf.BehaviourSpecs/Service References/SampleServiceReference/SampleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SampleOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SampleOperationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTwoIntegers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value1" type="xs:int" />
        <xs:element minOccurs="0" name="value2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTwoIntegersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTwoIntegersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>